.background {
    background: rgb(1,1,1);
    background: linear-gradient(90deg, rgba(1,1,1,1) 0%, rgba(20,128,153,1) 48%, rgba(3,3,3,1) 100%);}

.link-color{
    color:yellow
}

.hidden{
    display: none;
}

